# 튜플(tuple)
- 불변형(immutable), 시퀀스, () 소괄호 사용

In [4]:
a = (1,2,3,4,5,6,7)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

# 인덱싱(indexing)

In [16]:
print(a[0], a[1], a[-1])
# a[0] = 10 # Error , tuple은 값 못 바꿈
b = list(a) # list로 형 변환
b[0] = 10
b = tuple(b) # tuple로 형 변환
print(b)
print(type(b))

1 2 7
(10, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

# 슬라이싱(slicing)

In [17]:
print(a[0:2])
print(a[::2])
print(a[::-1])

(1, 2)
(1, 3, 5, 7)
(7, 6, 5, 4, 3, 2, 1)

# 패킹(Packing), 언패킹 (Unpacking)

In [28]:
t = 1, 2,(1, 2)# 패킹 (짐을 싼다)
print(type(t))
x,y,z = t # 언패킹 (짐을 푼다)
print(x,y,z) 
print(type(z)) # 투플 안에 투플 넣을 수 있음

<class 'tuple'>
1 2 (1, 2)
<class 'tuple'>

# 확장된 언패킹

In [36]:
t = (1,2,3,4,5)
# a, b = t # Error
a,b,_,_,_ = t # 3,4,5 를 언더바 사용해서 스킵 가능
a,*b = t # 아스테리스크는 언패킹 안되는 것들 모두
print(a, b) # 1 [2,3,4,5]
*a, b = t
print(a, b) # [1,2,3,4] 5
a, b, c, *d = t
# a, *b, *c = t # Error
print(a,b,c,d) # 1 2 3 [4, 5]

1 [2, 3, 4, 5]
[1, 2, 3, 4] 5
1 2 3 [4, 5]

# 빈튜플 , 빈리스트

In [45]:
t = () #빈 튜플
I = [] #빈 리스트

t = (1)
print(type(t)) # int
t = (1,)
print(type(t)) # tuple (튜플은 소괄호보다 쉼표가 중요함)
t = 1,
print(type(t)) # tuple (데이터가 1개만 있어도 쉼표가 있으면 튜플이다)

<class 'int'>
<class 'tuple'>
<class 'tuple'>

# 연산자

In [53]:
# 연산자
t1 = (1,2,3)
t2 = ('apple','banana')

t3 = t1 + t2
print(t3)
print(type(t3))

t4 = t3*3 # t4에 t3를 3번 넣음
print(t4)
print(1 in t4) # t4에 1이 있으면 True를 반환

(1, 2, 3, 'apple', 'banana')
<class 'tuple'>
(1, 2, 3, 'apple', 'banana', 1, 2, 3, 'apple', 'banana', 1, 2, 3, 'apple', 'banana')
True

# Count()

In [58]:
t = (1,2,3,2,2,3)
print(t.count(2)) # 2가 몇 개 있는지 카운트해주는 함수
print(t.index(3)) # 3이 몇 번째 인덱스에 있는지 알려주는 함수(최솟값)

3
2

# 두 개의 값을 서로 변경하는 코드
- x : 1 , y : 2

In [66]:
x, y = 1, 2
x , y = y , x
print(x, y)

2 1

# Named tuple : 이름있는 튜플

In [85]:
from collections import namedtuple
# 튜플을 숫자 인덱스가 아닌 이름으로 접근가능하다
Point = namedtuple('point','x, y') # named tuple 클래스의 객체를 생성
print(Point.__name__) # Point의 이름인 point 출력
pt1 = Point(1.0,5.0)
print(pt1)
pt2 = Point(2,3) 
print(pt2)
pt3 = Point("Hello", "World")
print(pt3)

point
point(x=1.0, y=5.0)
point(x=2, y=3)
point(x='Hello', y='World')

# 사전 (Dictionary), <class 'dict'>

In [124]:
# {key:value} , 연관형 , mutable(가변형), 순서가 없다
# key는 반드시 immutable(불변형) 형이어야 한다.
# value는 immutable, mutable 모두 가능
# GO의 Map이랑 똑같음
a = {
    'name' : '홍길동',
    'age' : 30,
    'phone' : '010-1234-1234',
    'birth' : '2019-12-20',
}
print(a["name"])
print(a["age"])
print(a["phone"])
print(a["birth"])

# 요소 수정, 추가, 제거
a["name"] = "제정민"
print(a)
a["address"] = "대구소프트웨어고등학교"
print(a)
del(a["address"])
print(a)
# a[[1,2,3]] = '리스트데이터' # 리스트는 mutable이라 키로 사용 못 함.
a[(1,2,3)] = '튜플데이터'
print(a)

홍길동
30
010-1234-1234
2019-12-20
{'name': '제정민', 'age': 30, 'phone': '010-1234-1234', 'birth': '2019-12-20'}
{'name': '제정민', 'age': 30, 'phone': '010-1234-1234', 'birth': '2019-12-20', 'address': '대구소프트웨어고등학교'}
{'name': '제정민', 'age': 30, 'phone': '010-1234-1234', 'birth': '2019-12-20'}
{'name': '제정민', 'age': 30, 'phone': '010-1234-1234', 'birth': '2019-12-20', (1, 2, 3): '튜플데이터'}

# Dictionary 연산자

In [139]:
print(a.keys()) # a의 key값을 dict_keys 타입으로 반환
print(a.values()) # a의 value값을 dict_values 타입으로 반환
print(a.items()) # a의 key,value값을 dict_items 타입으로 반환
print(a.get('name')) # == print(a['name']) 
print(a.get('hobby')) # print(a[hobby]) 는 에러가 남
print(a.get('hobby','독서'))

dict_keys(['name', 'age', 'phone', 'birth', (1, 2, 3)])
dict_values(['제정민', 30, '010-1234-1234', '2019-12-20', '튜플데이터'])
dict_items([('name', '제정민'), ('age', 30), ('phone', '010-1234-1234'), ('birth', '2019-12-20'), ((1, 2, 3), '튜플데이터')])
제정민
None
독서

In [155]:
d = {
    'gender':'남성',
    'ten':'10',
}
a.update(d) # 새로운 dict의 요소를 추가
print(a)
a.pop("gender")
print(a)

{'name': '제정민', 'age': 30, 'phone': '010-1234-1234', 'birth': '2019-12-20', (1, 2, 3): '튜플데이터', 'ten': '10', 'gender': '남성'}
{'name': '제정민', 'age': 30, 'phone': '010-1234-1234', 'birth': '2019-12-20', (1, 2, 3): '튜플데이터', 'ten': '10'}

# 사전 내장 (dict comprehension)

In [161]:
a = {k:1 for k in 'abcdefg'}
print(a)

b = ['name', 'age', 'phoner', 'birth', 10]
a = {k:'0' for k in b}
print(a)

{'a': 1, 'b': 1, 'c': 1, 'd': 1, 'e': 1, 'f': 1, 'g': 1}
{'name': '0', 'age': '0', 'phoner': '0', 'birth': '0', 10: '0'}

# 집합 (Set) , mutable(가변형), 순서가 없다, 중복을 허용하지 않는다

In [163]:
s = {1,2,3,4}
print(type(s))

<class 'set'>

In [171]:
s = {4,4,4,6,6,6,1,1,1,8,8,8}
print(s)
s.add(10)
print(s)
s.update([0,1,2])
print(s)
s.remove(0)
print(s)

{8, 1, 4, 6}
{1, 4, 6, 8, 10}
{0, 1, 2, 4, 6, 8, 10}
{1, 2, 4, 6, 8, 10}