# 제어문 : if

In [19]:
# if
a = 15
if a == 10:
    print(a)
else:
    print("a != 10")
    
if a > 5 :
    pass # 아무 것도 실행하지 않으려 할 때 - pass
else :
    pass

a != 10

In [20]:
order = 'spagetti'
if order == 'spagetti':
    price = 5000
elif order == 'spam':
    price = 6000
elif order == 'egg':
    price == 7000
else :
    pass
    
print('order price : %d'%price)

order price : 5000

In [21]:
order = {
    'spagetti' : 5000,
    'spam' : 6000,
    'egg' : 7000,
}

print('order price : %d'%order['spagetti'])

order price : 5000

In [18]:
a = 10
if a > 5 :
    x = a * 2
else :
    x = a / 2
print(x)

20

In [22]:
a = 10
x = a*2 if a > 5 else a / 2
print(x)

20

In [23]:
t = (a/2,a*2)
index = a > 5
x = t[index]
print(x)

20

In [26]:
x = (a/2,a*2)[a>5]
print(x)

20

In [48]:
a = 9
x={False:'짝수', True:'홀수'}[a%2].strip('수')
print(x)

홀

# 제어문 : for

In [53]:
for k in range(10):
    print(k)
l = [1,2,3,5,7,8,9,10,11]
print()
for k in l:
    print(k)

0
1
2
3
4
5
6
7
8
9

1
2
3
5
7
8
9
10
11

In [57]:
l = ['cat','dog','bird','pig','tiger']
for i,k in enumerate(l): # 인덱스 값도 함께 반환
    print(i, k)

0 cat
1 dog
2 bird
3 pig
4 tiger

# continue, break 문

In [62]:
# continue
for x in range(10):
    if x < 3:
        continue
    print(x)

3
4
5
6
7
8
9

In [69]:
# break
for x in range(1000):
    if x > 5:
        break
    print(x)

0
1
2
3
4
5

# 중첩된 for문

In [70]:
for x in range(2, 4):
    for y in range(1, 10):
        print(x,'*',y,'=',x*y)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

# 조건문 : while

In [71]:
a = 0
while True:
    print(a)
    a += 1
    if a == 10:break

0
1
2
3
4
5
6
7
8
9

In [74]:
a = 0
while a < 10:
    print(a)
    a +=1

0
1
2
3
4
5
6
7
8
9